
h1 {
  margin-top: 0%;
  font-size: 50px;
  font-family: "Avenir";
}

body {
  margin-top: 0;
  padding-left: 40px;
  font-size: 20px;
  font-family: "Comic Sans";
  background-color: black;
  color: white;

}
.instructions{
  margin-top: -30%;
  margin-left: -20px;
}
