
h1 {
  margin-top: 0%;
  font-size: 50px;
  font-family: "Avenir";
}

body {
  margin-top: 0;
  padding-left: 40px;
  font-size: 20px;
  font-family: "Avenir";
  background-color: black;
  color: white;

}
.instructions{
  font-family: "Avenir";
  margin-top: -42%;
  margin-left: -30px;
}
